.App{
  padding:30px;
  background-color: #fff;
  border-radius: 10px;
}
.App h1{
  margin-bottom: 20px;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
